* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    display:none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border: 1px black solid;
    margin: 20px;
    padding: 10px;
    background-color: #516b8c;
    align-content: space-evenly;
}

.file-label {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #abdef4, #7aa1b9, #385464);
    color: white;
    transition: all .5s;
    box-shadow: 1px 1px 15px 3px gray;
}

.file-label:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.bestand {
    color: #e57b1d;
    margin: 5px;
    text-align: center;
}


.send-button {
    display: block;
    cursor: pointer;
    width: 100px;
    margin: 10px auto 0;
    padding: 10px 0;
    font-size: larger;
    color: #e57b1d;
    background-color: #abdef3;
    border-radius: 30px;
    transition: background-color .2s;
}

.send-button:hover:focus:active {
    color: #fe78b5;
    background-color: white;
    outline: 0;
    transition: background-color .2s, color .2s;
}

